#header {
    position: relative;
    width: 100%;
    height: 20vh;
}

#header h1, #header h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#header h1 {
    font-size: 50px;
}

.logo {
    position: absolute;
    left: 5%;
    top: 50%;
    transform: translate(-5%, -50%);
}

.logo img {
    width: 100px;
    animation: spin 10s linear infinite;
}

.container {
    margin-top: 5%;
}

.find-meal-form h4 {
    margin-bottom: 5%;
}

.btn:hover {
    color: #F4F7F5;
}

.invert {
    filter: invert(100%);
}

#small {
    width: 50px;
}


.loader {
    margin-top: 5%;
    border: 16px solid #A7A2A9;
    border-top: 16px solid #13C4A3;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

.modal-body div {
    font-size: 16px;
}

label {
    color: #4C6085;
    font-weight: bold;
}

#map {
    height: 300px;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

/*color pallette*/

.black-bg {
    background-color: #0D1321;
}

.white-bg {
    background-color: #F4F7F5;
}

.teal-bg {
    background-color: #13C4A3;
}

.gray-bg {
    background-color: #A7A2A9;
}

.blue-bg {
    background-color: #4C6085;
}

.black-text {
    color: #0D1321;
}

.blue-text {
    color: #4C6085;
}

.teal-text {
    color: #13C4A3;
}

.white-text {
    color: #F4F7F5;
}



